<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032303647418-coqaciduk9qf10nloc8ad24rgich5sug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032303647418-coqaciduk9qf10nloc8ad24rgich5sug</string>
	<key>API_KEY</key>
	<string>AIzaSyCiiACEAbRec58jsGeGj7Vh3zEPnXGlz2M</string>
	<key>GCM_SENDER_ID</key>
	<string>1032303647418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipong.flutterAgoraExample</string>
	<key>PROJECT_ID</key>
	<string>metamedth-e949f</string>
	<key>STORAGE_BUCKET</key>
	<string>metamedth-e949f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032303647418:ios:3296517bdd9e71e2e80083</string>
</dict>
</plist>